<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>

<div th:replace="fragments/header"></div>

<div class="wrapper">
    <div class="container">
        <div class="row content">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Ассоциации! </h1>

                </div>
                <p>В этом задании вам необходимо найти граматические или синтаксические ошибки в
                    предложениях и указать их</p>
                <br/>

                <div id="error-message" class="alert alert-warning hide" role="alert">
                    <button id="close-button" type="button" class="close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4><strong>Упс!</strong> Где-то Вы допустили ошибку.</h4>
                </div>

                <br/>
            </div>
        </div>
        <div th:each="plate : ${pictureList}"
             th:class="'panel ' + ${plate.answerRight ? 'panel-success' : 'panel-default'}">
            <div class="panel-heading">
                Category: <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
            </div>
            <div class="panel-body">
                <div th:if="${plate.answerRight}" class="images-container">
                    <div class="thumbnail-container">
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img1}"/>
                        </a>
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img2}"/>
                        </a>
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img3}"/>
                        </a>
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img4}"/>
                        </a>
                    </div>
                </div>
                <div th:if="${!plate.answerRight}" class="images-container" th:switch="${plate.hintCounter}">
                    <div class="thumbnail-container" th:case="0">
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img1}"/>
                        </a>
                        <a class="hint-link save-position" th:href="'/association/hint/'+ ${plate.id} +''"><img
                                th:src="@{/images/question_mark.jpg}"/></a>
                        <a class="hint-link save-position" th:href="'/association/hint/'+ ${plate.id} +''"><img
                                th:src="@{/images/question_mark.jpg}"/></a>
                        <a class="hint-link save-position" th:href="'/association/hint/'+ ${plate.id} +''"><img
                                th:src="@{/images/question_mark.jpg}"/></a>
                    </div>

                    <div class="thumbnail-container" th:case="1">
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img1}"/>
                        </a>
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img2}"/>
                        </a>
                        <a class="hint-link save-position" th:href="'/association/hint/'+ ${plate.id} +''"><img
                                th:src="@{/images/question_mark.jpg}"/></a>
                        <a class="hint-link save-position" th:href="'/association/hint/'+ ${plate.id} +''"><img
                                th:src="@{/images/question_mark.jpg}"/></a>
                    </div>

                    <div class="thumbnail-container" th:case="2">
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img1}"/>
                        </a>
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img2}"/>
                        </a>
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img3}"/>
                        </a>
                        <a class="hint-link save-position" th:href="'/association/hint/'+ ${plate.id} +''"><img
                                th:src="@{/images/question_mark.jpg}"/></a>
                    </div>

                    <div class="thumbnail-container" th:case="3">
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img1}"/>
                        </a>
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img2}"/>
                        </a>
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img3}"/>
                        </a>
                        <a href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox">
                            <img th:src="${plate.img4}"/>
                        </a>
                    </div>

                </div>
            </div>
            <div th:if="${!plate.answerRight}" class="panel-footer">
                <form class="form-inline"
                      th:action="${'/association/check/' + plate.id}" method="post">

                    <div class="form-group">
                        <input id="answerInput" class="form-control" type="text" name="userAnswer"
                               th:placeholder="${plate.hiddenWord.length()} + ' letters'"/>

                        <input type="submit" class="btn btn-success save-position" value="Проверить"/>
                    </div>
                </form>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-2 pull-right">
                <div th:replace="fragments/next-task"></div>
            </div>
        </div>

        <div id="lightbox" class="modal fade" tabindex="-1" role="dialog"
             aria-labelledby="myLargeModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" alt=""/>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="push-down"></div>

    <div th:replace="fragments/footer"></div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<!-- Lightbox library JavaScript
================================================== -->
<script type="text/javascript" src="/js/lightbox.js"></script>

<!-- Modal library JavaScript
================================================== -->
<script type="text/javascript" src="/js/bootstrap-dialog.min.js"></script>

<script type="text/javascript" src="/js/user.js"></script>

</body>
</html>
