<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>

<div th:replace="fragments/header"></div>

<div class="wrapper">
    <div class="container">
        <div class="row content">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Что-то лишнее!</h1>
                </div>
                <p class="lead">Перед вами несколько наборов картинок. В каждом наборе есть одна лишняя - укажите какая.</p>
                <p class="lead">За каждый правильный ответ получаете 0.25 балла.</p>
                <br/>

                <div id="error-message" class="alert alert-warning hide" role="alert">
                    <button id="close-button" type="button" class="close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4><strong>Упс!</strong> Где-то Вы допустили ошибку.</h4>
                    <h4>Вы можете завершить задание заработав <span id="score"></span>, либо попытаться еще раз.</h4>
                </div>

                <form id="picture-form" th:action="@{/excess_image/check}" method="post">
                    <div class="excess-picture">
                        <div th:each="quiz : ${imageQuizzes}" class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">

                                    <input th:id="${'picOneRadio-'+ quiz.id +''}" checked="" type="radio"
                                           th:name="${'answers['+ quiz.id +']'}" value="1"/>
                                    <label th:for="${'picOneRadio-'+ quiz.id +''}">
                                        <img th:src="${quiz.imgUrlOne}"/>
                                    </label>

                                    <input th:id="${'picTwoRadio-'+ quiz.id +''}" type="radio"
                                           th:name="${'answers['+ quiz.id +']'}"
                                           value="2"/>
                                    <label th:for="${'picTwoRadio-'+ quiz.id +''}">
                                        <img th:src="${quiz.imgUrlTwo}"/>
                                    </label>

                                    <input th:id="${'picThreeRadio-'+ quiz.id +''}" type="radio"
                                           th:name="${'answers['+ quiz.id +']'}"
                                           value="3"/>
                                    <label th:for="${'picThreeRadio-'+ quiz.id +''}">
                                        <img th:src="${quiz.imgUrlThree}"/>
                                    </label>

                                    <input th:id="${'picFourRadio-'+ quiz.id +''}" th:if="${quiz.imgUrlFour != null}"
                                           type="radio"
                                           th:name="${'answers['+ quiz.id +']'}" value="4"/>
                                    <label th:for="${'picFourRadio-'+ quiz.id +''}" th:if="${quiz.imgUrlFour != null}">
                                        <img th:src="${quiz.imgUrlFour}"/>
                                    </label>

                                    <div th:if="${quiz.imgUrlFour == null}" style="width: 250px; height: 250px;"></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-10">
                <button type="button" onclick="sendAnswers('/excess_image/check', 'picture-form')" id="submit-button"
                        class="btn btn-success">Проверить
                </button>
            </div>
            <div class="col-md-2">
                <input onclick="goNext('excess_image')" type="button" class="btn btn-warning" value="Следующее задание"/>
            </div>
        </div>
    </div>

    <div class="push-down"></div>

    <div th:replace="fragments/footer"></div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<!-- Lightbox library JavaScript
================================================== -->
<script type="text/javascript" src="/js/lightbox.js"></script>

<!-- Modal library JavaScript
================================================== -->
<script type="text/javascript" src="/js/bootstrap-dialog.min.js"></script>

<script type="text/javascript" src="/js/user.js"></script>

</body>
</html>
