<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${title}">Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

<div th:replace="fragments/header"></div>

<div class="wrapper">
    <div class="container">
        <div class="row content">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Поздравляем!</h1>
                </div>
                <p>Вы прошли Winter IT Quest 2105. Пожалуйста, оставьте свой комментарий.</p>
            </div>
        </div>

        <div class="row">
            <div class="comment-input" sec:authorize="isAuthenticated()">
                <div class="col-lg-12">
                    <!--TODO change action name-->
                    <form role="form" th:action="@{/finish/send}" method="post">
                        <div class="form-group">
                        <textarea name="comment" maxlength="200" class="form-control" rows="5" id="comment"
                                  placeholder="Комментарий"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Отправить</button>
                    </form>
                    <br/>
                </div>
                <div class="col-md-12">
                    <div class="panel-body">
                        <ul class="chat">
                            <li th:each="comment : ${comments}" class="left clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font" th:text="${comment.user.name}"></strong>
                                        <br/>
                                        <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span><span th:text="${#dates.format(comment.time, 'dd MMMM YY HH:mm')}"></span>
                                        </small>
                                    </div>
                                    <p th:text="${comment.message}"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="push-down"></div>

    <div th:replace="fragments/footer"></div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/user.js"></script>

</body>
</html>
