<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${title}">Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>

    <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="/css/cover.css"/>-->

    <!-- Main styles -->
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

<div th:replace="fragments/header"></div>

<div class="wrapper">
    <div class="container">
        <div class="row content">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Поздравляем!</h1>
                </div>
                <p>Вы прошли Winter IT Quest 2105. Пожалуйста, оставьте свой комментарий.</p>
            </div>
        </div>

        <div class="row">
            <div class="comment-input" sec:authorize="isAuthenticated()">
                <div class="col-lg-12">
                    <!--TODO change action name-->
                    <form role="form" th:action="@{/login}" method="post">
                        <div class="form-group">
                        <textarea maxlength="200" class="form-control" rows="5" id="comment"
                                  placeholder="Комментарий"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Отправить</button>
                    </form>
                    <br/>
                </div>
                <div class="col-md-12">
                    <div class="panel-body">
                        <ul class="chat">
                            <li class="left clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Team 1</strong>
                                        <br/>
                                        <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>11:10
                                        </small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </li>
                            <li class="left clearfix">
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">Team 2</strong>
                                        <small class="pull-right text-muted">
                                            <span class="glyphicon glyphicon-time"></span>12:00
                                        </small>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="push-down"></div>

    <div th:replace="fragments/footer"></div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>
