<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

</head>

<body>

<div th:replace="fragments/header"></div>

<div class="wrapper">
    <div class="container">
        <div class="row content">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Найди ошибку! </h1>

                </div>
                <p>В этом задании вам необходимо найти граматические или синтаксические ошибки в
                    предложениях и указать их</p>
                <br/>

                <div id="error-message" class="alert alert-warning hide" role="alert">
                    <button id="close-button" type="button" class="close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4><strong>Упс!</strong> Где-то Вы допустили ошибку.</h4>
                </div>

                <form id="grammar-form" th:action="@{/grammar/check}" method="post">
                    <div th:each="quiz : ${grammarQuizzes}" class="grammar-test">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p th:utext="${quiz.sentence}"></p>
                            </div>
                            <div class="panel-footer">
                                <label class="radio-inline">
                                    <input th:name="${'answers['+ quiz.id +']'}" value="A" type="radio"/> A
                                </label>
                                <label class="radio-inline">
                                    <input th:name="${'answers['+ quiz.id +']'}" value="B" checked="" type="radio"/> B
                                </label>
                                <label class="radio-inline">
                                    <input th:name="${'answers['+ quiz.id +']'}" value="C" type="radio"/> C
                                </label>
                                <label class="radio-inline">
                                    <input th:name="${'answers['+ quiz.id +']'}" value="D" type="radio"/> D
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <button type="button" onclick="sendAnswers('/grammar/check', 'grammar-form')" id="submit-button"
                            class="btn btn-success">Проверить
                    </button>
                </form>
            </div>

        </div>
    </div>

    <div class="push-down"></div>

    <div th:replace="fragments/footer"></div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript" th:src="@{/js/jquery-2.1.4.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Lightbox library JavaScript
================================================== -->
<script type="text/javascript" th:src="@{/js/lightbox.js}"></script>

<!-- CheckAnswers js script
================================================== -->
<script type="text/javascript" th:src="@{/js/checkAnswers.js}"></script>

<script type="text/javascript" th:src="@{/js/user.js}"></script>

</body>
</html>
