<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${title}">Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

<div th:replace="fragments/header"></div>

<div class="wrapper">
    <div class="container">
        <div class="row content">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1>Привет!</h1>

                    <p>Приветствуем вас на IT Quest 2015. От вас потребуется пройти четыре задания разной степени
                        сложности.
                        Условия для каждого задания будут подробно изложены далее. Чтобы начать используйте логин и
                        пароль,
                        которые вам выдали на бумаге.</p>

                    <br/>

                    <div sec:authorize="!isAuthenticated()">
                        <p th:if="${loginError}">Wrong user or password</p>

                        <form role="form" th:action="@{/login}" class="form-inline" method="post">
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                            <div class="form-group">
                                <input type="text" class="form-control" id="j_username" name="username"
                                       placeholder="Введите имя"/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="j_password" name="password"
                                       placeholder="Введите пароль"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a class="btn btn-success" th:href="@{/task}">Перейти к заданиям</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="push-down"></div>

    <div th:replace="fragments/footer"></div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<script type="text/javascript" th:src="@{/js/user.js}"></script>

</body>
</html>
