<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title th:text="${title}">Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>

<div th:replace="fragments/header"></div>

<div class="wrapper">
    <div class="container">
        <div class="row content">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <div class="quest-hello">
                        <h1>Всем привет!</h1>

                        <p>Сегодня мы приготовили для вас развлекательное мероприятие.
                            Как обычно, вам предстоит решить несколько заданий, чтобы победить.
                            За каждое задание начисляются баллы. та команда, которая наберет больше баллов - побеждает.
                            В этот раз мы добавили новшество - если вы считаете, что какое-то задание слишком трудное у
                            вас будет возможность пропустить его. В этом случае в зачет идёт только часть баллов от
                            возможного максимума. </p>

                        <p>То есть если на странице 5 маленьких заданий, а вы решили только 2, то при нажатии кнопки
                            "пропустить" в зачет пойдут 2 балла из 5.</p>

                        <p>Разумеется, скорость тоже имеет значение и та команда, которая доберется до финиша первой получит
                            10 баллов.
                            Вторая команда получит 5 баллов.
                            Таким образом, даже если вы не решите ни одного задания (чему мы слабо верим), вы все равно
                            получите хоть что-то.</p>

                        <div class="list">
                            <p>Итак, если кратко:</p>
                            <ol>
                                <li>Решаете (либо не решаете, либо решаете не до конца задачу) - получаете баллы
                                    соответственно.
                                </li>
                                <li>Получаете пароль чтобы перейти дальше (не во всех заданиях)</li>
                                <li>Завершаете квест</li>
                            </ol>
                        </div>
                    </div>
                    <br/>

                    <div sec:authorize="!isAuthenticated()">
                        <p th:if="${loginError}">Wrong user or password</p>

                        <form role="form" th:action="@{/login}" class="form-inline" method="post">
                            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                            <div class="form-group">
                                <input type="text" class="form-control" id="j_username" name="username"
                                       placeholder="Введите имя"/>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="j_password" name="password"
                                       placeholder="Введите пароль"/>
                            </div>
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </form>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a class="btn btn-success" th:href="@{/task}">Перейти к заданиям</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="push-down"></div>

    <div th:replace="fragments/footer"></div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/js/user.js"></script>

</body>
</html>
