<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>

<body>

<canvas class="maze-canvas" id="chars_maze"></canvas>
<canvas class="maze-canvas" id="numbers_maze"></canvas>

<div th:replace="fragments/header"></div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1>Лабиринт!</h1>
                </div>
                <p class="lead">Здесь вам нужно пройти два лабиринта. От входа (синяя точка) до выхода (красная точка) ведет один единственный верный путь. Когда
                    вы решите оба, то поймёте что нужно делать дальше.</p>
                <br/>

                <div th:if="${answerError}" class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4><strong>Упс!</strong> Где-то Вы допустили ошибку.</h4>
                </div>

                <div class="col-xs-6 col-sm-4 col-sm-offset-2">
                    <a id="charsMaze" href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"></a>
                </div>
                <div class="col-xs-6 col-sm-4">
                    <a id="numbersMaze" href="#" class="thumbnail" data-toggle="modal" data-target="#lightbox"></a>
                </div>
                <div id="lightbox" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×</button>
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="" alt=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-10">
                <form th:action="@{/maze/check}" role="form" method="post" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="answer" class="form-control" id="result-word"
                               placeholder="Введите ответ"/>
                    </div>
                    <button type="submit" class="btn btn-success">Проверить</button>
                </form>
            </div>
            <div class="col-md-2">
                <div th:replace="fragments/next-task"></div>
            </div>
        </div>
    </div>

    <div class="push-down"></div>

    <div th:replace="fragments/footer"></div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<!-- Lightbox library JavaScript
================================================== -->
<script type="text/javascript" src="/js/lightbox.js"></script>

<!-- Modal library JavaScript
================================================== -->
<script type="text/javascript" src="/js/bootstrap-dialog.min.js"></script>

<!-- Maze canvas rendering JavaScript
================================================== -->
<script type="text/javascript" src="/js/maze_renderer.js"></script>

<script type="text/javascript" src="/js/user.js"></script>

</body>
</html>
