<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-dialog.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/wordsearch.css"/>
</head>

<body>
<div th:replace="fragments/header"></div>

<div class="wrapper">
    <div class="container">

        <div class="cover-container">

            <div class="row content">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>Поиск слов!</h1>
                    </div>
                    <p class="lead">Здесь вам необходимо найти слова среди месива букв. Когда вы найдете их
                        все либо большую их часть вы поймете, что нужно вписать в Text Box.
                    </p>

                    <p class="lead">Одна особенность - в отличие от классического Word Search слова здесь могут пересекаться, чтобы
                        облегчить поиск.</p>

                    <p class="lead">За успешное выполнение этого задания вам даётся 3 балла.</p>

                    <p class="lead">Для примера слова составляющие одну из букв:
                        <span class="smallwords" th:each="smword : ${smallWords}" th:text="${smword}"></span>
                    </p>

                    <div th:if="${answerError}" class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4><strong>Упс!</strong> Где-то Вы допустили ошибку.</h4>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <a id="charsMaze" href="#" class="wordsearch-button btn btn-primary" data-toggle="modal"
                               data-target="#lightbox">Показать таблицу</a>
                        </div>
                    </div>

                    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="game-table-container">
                                        <div class="blocks-container">
                                            <div th:each="gameGrid : ${grid}" class="table-block">
                                                <table class="table table-bordered">
                                                    <tr th:each="words : ${gameGrid}">
                                                        <td th:each="word : ${words}">
                                                    <span th:each="ch : ${word}">
                                                        <span th:text="${ch}"></span>
                                                    </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="clears"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="row">
                <div class="col-md-10">
                    <form role="form" method="post" class="form-inline" th:action="@{/wordsearch/check}">
                        <div class="form-group">
                            <input type="text" name="answer" class="form-control" id="result-word"
                                   placeholder="Введите ответ"/>
                        </div>
                        <button type="submit" class="btn btn-success">Проверить</button>
                    </form>
                </div>
                <div class="col-md-2">
                    <div th:replace="fragments/next-task"></div>
                </div>
            </div>

        </div>

    </div>
    <div class="push-down"></div>

    <div th:replace="fragments/footer"></div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<!-- Lightbox library JavaScript
================================================== -->
<script type="text/javascript" src="/js/lightbox.js"></script>

<!-- Modal library JavaScript
================================================== -->
<script type="text/javascript" src="/js/bootstrap-dialog.min.js"></script>

<script type="text/javascript" src="/js/wordSearch.js"></script>
<script type="text/javascript" src="/js/user.js"></script>

</body>
</html>
