<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Quiz</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>


    <!-- User style -->
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <!-- Word search game style -->
    <link rel="stylesheet" type="text/css" href="/css/wordsearch.css"/>

</head>

<body>
<div th:replace="fragments/header"></div>


<div class="wrapper">
    <div class="container">

        <div class="cover-container">

            <div class="row content">
                <div class="col-lg-12">
                    <div class="page-header">
                        <h1>Поиск слов!</h1>
                    </div>
                    <p class="lead">В этом задании вам необходимо угадать огромное слово, которое состоит из маленьких
                        слов:<br/>
                        <span class="smallwords" th:each="smword : ${smallWords}" th:text="${smword}"></span>
                    </p>

                    <!--<button id="button">Test</button>-->
                    <div class="row">
                        <div class="col-sm-4">
                            <a id="charsMaze" href="#" class="wordsearch-button btn btn-primary" data-toggle="modal" data-target="#lightbox">Показать
                                таблицу</a>
                        </div>
                    </div>

                    <div id="lightbox" class="modal fade" tabindex="-1" role="dialog"
                         aria-labelledby="myLargeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <button type="button" class="close hidden" data-dismiss="modal" aria-hidden="true">×
                            </button>
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="game-table-container">
                                        <div class="blocks-container">
                                            <div th:each="gameGrid : ${grid}" class="table-block">
                                                <table class="table table-bordered">
                                                    <tr th:each="words : ${gameGrid}">
                                                        <td th:each="word : ${words}">
                                                    <span th:each="ch : ${word}">
                                                        <span th:text="${ch}"></span>
                                                    </span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="clears"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="row">
                <div class="col-lg-12 col-centered">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <!--<label for="result-word">Ответ</label>-->
                            <input type="email" class="form-control" id="result-word" placeholder="Введите ответ"/>
                        </div>
                        <button type="submit" class="btn btn-success">Проверить</button>
                    </form>
                </div>
            </div>

        </div>

    </div>
    <div class="push-down"></div>

    <div th:replace="fragments/footer"></div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<script type="text/javascript" th:src="@{/js/jquery-1.11.3.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Lightbox library JavaScript
================================================== -->
<script type="text/javascript" th:src="@{/js/lightbox.js}"></script>

<script type="text/javascript" th:src="@{/js/wordSearch.js}"></script>

</body>
</html>
