<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title></title>
</head>
<body>
<div th:fragment="header" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand"><img class="logo" src="/images/logo_white.png"/></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <p sec:authorize="isAuthenticated()" class="navbar-text navbar-right">Team 1</p>
            <p sec:authorize="isAuthenticated()" class="navbar-text navbar-right">Счет: 10.0</p>
        </div>
    </div>
</div>

</body>
</html>